@page "/polizas"
@inject ListarPolizasUseCase ListarPolizasUseCase
@inject EliminarPolizaUseCase EliminarPolizaUseCase
@inject NavigationManager Navegador

<DialogoConfirmacion @ref="dialogo" OnConfirmado="Eliminar"/>

<table class="table">
   <thead>
       <tr>
           <th>ID</th>
           <th>ID VEHICULO</th>
           <th>VALOR</th>
           <th>FRANQUICIA</th>
           <th>COBERTURA</th>
           <th>FECHA INICIO</th>
           <th>FECHA FIN</th>
       </tr>
   </thead>
   <tbody>
       @foreach (var p in listaPolizas)
       {
           <tr>
               <td>@p.id</td>
               <td>@p.vehiculoId</td>
               <td>$@p.valor</td>
               <td>@p.franquicia</td>
               <td>@p.cobertura</td>
               <td>@p.fechaInicio.ToString("MM-dd-yyyy")</td>
               <td>@p.fechaFin.ToString("MM-dd-yyyy")</td>
               <td>
                    <button class="btn btn-primary">
                        <span class="oi oi-pencil" @onclick="()=>ModificarPoliza(p)"></span>
                    </button>
                    <button class="btn btn-danger" @onclick="()=>ConfirmarEliminacion(p)">
                        <span class="oi oi-trash"></span>
                    </button>
                </td>
           </tr>
       }
   </tbody>
</table>

@code{
    List<Poliza> listaPolizas = new List<Poliza>();
    protected override void OnInitialized()
    {
        listaPolizas = ListarPolizasUseCase.Ejecutar();
    }

    DialogoConfirmacion dialogo = null!;
    Poliza? _polizaParaEliminar = null;
    private void ConfirmarEliminacion(Poliza p)
    {
        _polizaParaEliminar = p;
        dialogo.Mostrar($"¿Desea eliminar la poliza con ID {p.id}?");
    }
    private void Eliminar()
    {
        if (_polizaParaEliminar != null)
        {
            EliminarPolizaUseCase.Ejecutar(_polizaParaEliminar.id);
            listaPolizas = ListarPolizasUseCase.Ejecutar();
        }
    }

    void ModificarPoliza(Poliza p)
    {
        Navegador.NavigateTo($"poliza/{p.id}");
    }

}