@page "/titulares"
@inject ListarTitularesUseCase ListarTitularesUseCase
@inject EliminarTitularUseCase EliminarTitularUseCase
@inject ListarTitularesConSusVehiculosUseCase ListarTitularesConSusVehiculosUseCase
@inject NavigationManager Navegador

<DialogoConfirmacion @ref="dialogo" OnConfirmado="Eliminar"/>
<Modal @ref="modal1" OnConfirmado="MostrarVehiculos"/>

<table class="table">
   <thead>
       <tr>
           <th>ID</th>
           <th>NOMBRE</th>
           <th>APELLIDO</th>
           <th>DNI</th>
           <th>DIRECCIÓN</th>
           <th>TELEFONO</th>
           <th>CORREO</th>
       </tr>
   </thead>
   <tbody>
       @foreach (var t in listaTitulares)
       {
           <tr>
               <td>@t.id</td>
               <td>@t.nombre</td>
               <td>@t.apellido</td>
               <td>@t.dni</td>
               <td>@t.direccion</td>
               <td>@t.telefono</td>
               <td>@t.correo</td>
               <td>
                    <button class="btn btn-success" @onclick="()=>MostrarModal(t)">
                        <span class="oi oi-key"></span>
                    </button>
                    <button class="btn btn-primary">
                        <span class="oi oi-pencil" @onclick="()=>ModificarTitular(t)"></span>
                    </button>
                    <button class="btn btn-danger" @onclick="()=>ConfirmarEliminacion(t)">
                        <span class="oi oi-trash"></span>
                    </button>
                </td>
           </tr>
       }
   </tbody>
</table>


@code{
    List<Titular> listaTitulares = new List<Titular>();
    protected override void OnInitialized()
    {
        listaTitulares = ListarTitularesUseCase.Ejecutar();
    }

    DialogoConfirmacion dialogo = null!;
    Modal modal1 = null!;
    Titular? _titularParaEliminar = null;
    private void ConfirmarEliminacion(Titular t)
    {
        _titularParaEliminar = t;
        dialogo.Mostrar($"¿Desea eliminar al titular {t.nombre} {t.apellido}?");
    }
    private void Eliminar()
    {
        if (_titularParaEliminar != null)
        {
            EliminarTitularUseCase.Ejecutar(_titularParaEliminar.id);
            listaTitulares = ListarTitularesUseCase.Ejecutar();
        }
    }
    private void MostrarVehiculos()
    {
    }

    private void MostrarModal(Titular t)
    {
        modal1.Mostrar(ListarTitularesConSusVehiculosUseCase.Ejecutar(t.id));
    }

    void ModificarTitular(Titular t)
    {
        Navegador.NavigateTo($"titular/{t.id}");
    }

}
